ul{
    list-style-type: none;
    display: flex;/* 弹性盒子模型 */
    padding: 0;
    margin: 0;
    flex-direction: row;
}
ul li{
    margin-right: 5%;
}
.bold_and_large {
    font-weight: bold; /* 加粗文本 */
    font-size: 200%; /* 增大文本的大小 */
}